html, body {
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.contrast {
  color: #465c3c;
}
.heading {
  padding: 50px 0px;
  text-align: center;
  overflow: hidden;
}
.heading h1 {
  margin-top: 0px;
  font-family: 'Overlock SC';
  font-weight: 800;
}
hr {
  height: 2px !important;
  width: 50px;
  position: relative;
  text-align: center;
  margin: 10px auto;
  background-color: #000;
}
.subtitle {
  text-align: center;
  font-size: 20px;
  font-family: 'Overlock SC', sans-serif;
  font-weight: 800;
  margin: 10px 0px;
}
p{
  font-size: 15px;
  color: #666;
}

  /* NavBar */

.custom-navbar {
  border: none;
  margin-bottom: 0;
  background-color: #000;
  padding: 5px 0px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.scroll {
  background-color: #111; 
}
.custom-navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  line-height: 35px;
}

.custom-navbar .nav li {
  display: inline;
}

.custom-navbar .nav ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}
.custom-navbar .nav li a {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  padding-right: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}
.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: #000;
  color: #465c3c;
}
.custom-navbar .navbar-nav > li > a.active {
  background-color: #000;
  color: #465c3c;
  font-weight: bold;
  border-bottom: 2px solid #465c3c;
}
.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}
.custom-navbar .navbar-toggle {
  background-color: #000;
}
.custom-navbar .navbar-toggle .icon-bar {
  background: #465c3c;
  border-color: transparent;
}

/* Home */ 

#home {
  position: relative;
  background-color: #618255;
  height: 100%;
  background-size: cover;
  background: url(../images/ewok.png) no-repeat center center;
  z-index: 1;
}

#home .text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #000;
  top: 35%;
  font-family: 'Overlock SC';
}

.bouncing-icon {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 100px;
  width: 50px;
  -webkit-animation: 3s ease 0s normal none infinite running bounce;
  animation: 3s ease 0s normal none infinite running bounce;
  color: #fff;
  font-size: 40px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.bouncing-icon:hover {
  background: none;
  color: #53755b;
}

  /* About */

#about {
  background-color: #53755b;
}

#about img {
  width: 250px;
  margin: auto;
  box-shadow: 0 0 20px #ddd;
  -webkit-box-shadow: 0 0 20px #ddd;
  -moz-box-shadow: 0 0 20px #ddd;
}
#about .social a {
  width: 32px;
  height: 32px;
  color: #fff;
  background: #000;
  display: inline-table;
  margin: 40px 5px;
  font-size: 15px;
  border-radius: 2px;
}
#about .social a i{
  display: table-cell;
  vertical-align: middle;
  horizontal-align: middle;
}
#about .social a:hover {
  background: #5f635d;
  text-decoration: none;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  transition: all 500ms linear;
}
#about .row h1,
#about .row h3 {
  font-weight: bold;
}
#about .about_bg p{
  padding-top: 15px;  
  font-size: 16px;
  text-align: left;
  line-height: 28px;
  color: #000;
}
#about .download-resume {
  margin: 40px 0px 60px 0px;
}
#about .download-btn {  
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 12px 20px;
  color: #fff;
  background-color: #5f635d;
}
#about .download-btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

/* Skills */ 
#skill {
  background-color: #3f5c46;
  position: center; 
}

/* Projects */ 
#project {
  background-color: #2d4533;
  position: center; 
  text-align: center;
  padding: 0px;
}


/* Contact */

#contact {
  background-color:#1a291e ;
  position: center;
  z-index: 1;
  padding: 100px 0px;
  color: #fff;
}
#contact h1 {
  margin: 0;
}

#contact .contact-btn {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  color: #fff;
  background-color: #5f635d;
  border-radius: 25px;
}
#contact.contact-btn:hover {
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
