html, body {
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.heading {
  padding: 60px 0px;
  text-align: center;
  overflow: hidden;
}

  /* NavBar */

.custom-navbar {
  border: none;
  margin-bottom: 0;
  background-color: transparent;
  padding: 5px 0px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.scroll {
  background-color: #111 !important;
}
.custom-navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  line-height: 35px;
}
.custom-navbar .nav li a {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  padding-right: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}
.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #465c3c;
}
.custom-navbar .navbar-nav > li > a.active {
  background-color: transparent;
  color: #465c3c;
  font-weight: bold;
  border-bottom: 2px solid #465c3c;
}
.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}
.custom-navbar .navbar-toggle {
  background-color: transparent;
}
.custom-navbar .navbar-toggle .icon-bar {
  background: #465c3c;
  border-color: transparent;
}

/* Home */ 

#home {
  position: relative;
  background-color: #618255;
  height: 100%;
  background-size: cover;
  z-index: 1;
}

#home .text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  top: 35%;
}

.bouncing-icon {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 100px;
  width: 50px;
  -webkit-animation: 3s ease 0s normal none infinite running bounce;
  animation: 3s ease 0s normal none infinite running bounce;
  color: #fff;
  font-size: 40px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.bouncing-icon:hover {
  background: none;
  color: #ff6a6a;
}

  /* About */

#about {
  background-color: #465c3c;
}

#about img {
  width: 250px;
  margin: auto;
  box-shadow: 0 0 20px #ddd;
  -webkit-box-shadow: 0 0 20px #ddd;
  -moz-box-shadow: 0 0 20px #ddd;
}
#about .social a {
  width: 32px;
  height: 32px;
  color: #fff;
  background: #000;
  display: inline-table;
  margin: 40px 5px;
  font-size: 15px;
  border-radius: 2px;
}
#about .social a i{
  display: table-cell;
  vertical-align: middle;  
}
#about .social a:hover {
  background: #5f635d;
  text-decoration: none;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  transition: all 500ms linear;
}
#about .row h1,
#about .row h3 {
  font-weight: bold;
}
#about .about_bg p{
  padding-top: 15px;  
  font-size: 16px;
  text-align: left;
  line-height: 28px;
}
#about .download-resume {
  margin: 40px 0px 60px 0px;
}
#about .download-btn {  
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 12px 20px;
  color: #fff;
  background-color: #5f635d;
}
#about .download-btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

/* Skills */ 
#skill {
  background-color: #fff;
  position: center; 
}
